
:root {
  box-sizing: border-box;
  font-size: calc(1vw + 0.3em);   
 }

 *,
 *::before,
 *::after {
  box-sizing: inherit;
 }

 a {
    color: black;
    text-decoration: none;
  }

  ol, ul {
    list-style:none;
  }

 body {
  margin: 0; 
  font-family: serif, Helvetica, Arial, sans-serif;
  min-height: 100vh; /* 100% of viewport height */
 }

  a:link {
  /*color: #1476b8;*/
  font-weight: bold;
  text-decoration: none;
 }

 a:hover {
  text-decoration: underline;
 }
 a:active {
  color: #b81414;
 }

.page-header {                
  padding: 0.5em 1em;
  background-color: #fff;
  height: 3.2em;
  margin-right: 1em;
 }

.title {
  display: flex;
}  

.title > h1 {                 
  color: #333;
  font-size: 1.3rem;
  margin: 0.2em 0;
  padding-left: 1.3rem;
  flex-grow: 1;
 }

 header nav ul {
    display: flex;
  }

  header nav li {
    padding-left: 2rem;
  }

  header nav a {
    vertical-align: top;
    line-height: 0.8;
    font-size: 1rem;
    color: #4a4a4a;
  }

 .main-content { 
   margin: 0;           
   padding: 1em;
   background-color: #E6EAFF;
 }

 .head {
    font-size: 1.2rem;
    width: 55%;
    height: 6em;
    margin: 0 auto;
    padding-bottom: 1em;
    display: flex;
    text-align: center;
    align-items: center;
    line-height: 1.2em;
 }

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));    
  grid-auto-rows: 1fr;                
  grid-gap: 1em;
 }

.portfolio > figure {
  margin: 0;   
}
  .portfolio figcaption {
  padding: 0.3em 0.8em;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: right;
 }

.img-box img {
    display: block;
    max-width: 100%;
    height: 90%;
    
  }

.img-box {
    position: relative;
    border: solid 1px black;
    font-size: 1rem;
    overflow: hidden;
  }

 .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
    background-color: #424344;
  }
  
  .img-box:hover .overlay {
    opacity: .8;
  }

  .info {
    color: white;
    font-size: 1.5rem;
    position: relative;
    top: 40%;
    text-align: center;
  }

footer {
  background-color: #9b9b9b;
  padding: 1rem 1.5rem;
}

footer .content {
  color: white;
  display: flex;
  height: 1em;
  align-items: center;
}
  
footer .copyright {
  flex-grow: 1;
}

footer nav ul {
  display: flex; 
}

footer nav li {
    padding-left: 2rem;
  }

footer a {
  color: white;
  line-height: 0.8;
}

@media only screen and (min-width: 35em) {
 .bio {
  flex-flow: row;
  }
  .image-container {
    width: 40%;
    margin-left: 1.1em;
    margin-top: 1.1em;
  }
   
   .data-container {
    display: flex;
    flex-flow: column;
    width: 55%;
   }

  .text {
     font-size: 1.2rem;
     /*width: 55%;*/
     margin-top: 1.1em;
     margin-left: 1rem;
     padding: 0.5em 1.5em;
     line-height: 1.2em;
   }

   .data {
    display: flex;
     font-size: 1.3rem;
     /*width: 55%;*/
     margin-left: 1rem;
     padding: 0 1.5em;
     line-height: 1.3em;
   }

   .data-mobile {
    display: none;
   }
      
  .desktop {
     display: block;
   }

   .menu-toggle {
    display: none;
   }

   .tab-contents.active-tab {
    display: block;
    margin-left: 0.5em;
  }

  .head {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 50em) {
   .bio {
  flex-flow: row;
  }

  .image-container {
    width: 37%;
    margin-left: 2.1em;
    margin-top: 2.3em;
  }

   .data-container {
    display: flex;
    flex-flow: column;
   } 
    
   .text {
     font-size: 1.1rem;
     /*width: 55%;*/
     margin-left: 1.8rem;
     margin-top: 1.5em;
     /*padding: 2.3em 2.1em;*/
     padding: 0.5em 2.1em;
     line-height: 1.3em;
   }
   .data {
     display: flex;
     font-size: 1.1rem;
     /*width: 55%;*/
     margin-left: 1.8rem;
     padding: 0 2.1em;
     line-height: 1em;
   }
      .data-mobile {
    display: none;

  }

  .tab-contents.active-tab{
    display: block;
    margin-left: 2em;
  }

  .head {
    font-size: 1.5rem;
  }
}

  @media only screen and (min-width: 90em) {
     .bio {
  flex-flow: row;
   }
     body {
        /* font-size: 1.6rem;*/
        margin-left: 3rem;
        margin-right: 3em;
     }

    .data-mobile {
      display: none;
     }

     .tab-contents.active-tab{
    display: block;
    margin-left: 2.8em;
   }

   .head {
    font-size: 2rem;
  }
}