
:root {
  box-sizing: border-box;
  font-size: calc(1vw + 0.3em);   
 }

 *,
 *::before,
 *::after {
  box-sizing: inherit;
 }

/* a {
    color: black;
    text-decoration: none;
  }*/

p {
  text-indent: 1em; /* Adjust the value as needed (e.g., 1em, 20px) */
}

  ol, ul {
    list-style:none;
  }

 body {
  margin: 0; 
  font-family: serif, Helvetica, Arial, sans-serif;
  min-height: 100vh; /* 100% of viewport height */
 }

  a:link {
  /*color: #1476b8;*/
  font-weight: bold;
  text-decoration: none;
 }
 /*a:visited {
  color: #1430b8;
 }*/
 a:hover {
  text-decoration: underline;
 }
 a:active {
  color: #b81414;
 }

.page-header {                
  padding: 0.5em 1em;
  background-color: #fff;
  height: 3.2em;
  margin-right: 1em;
 }

.title {
  display: flex;
}  

.title > h1 {                 
  color: #333;
  font-size: 1.3rem;
  margin: 0.2em 0;
  padding-left: 1.3rem;
  flex-grow: 1;
 }

 header nav ul {
    display: flex;
  }

  header nav li {
    padding-left: 2rem;
  }

  header nav a {
    vertical-align:top;
    line-height: 0.8;
    font-size: 1rem;
    color: #4a4a4a;
  }

  /*---menu---*/
   .menu {
  position: relative;  

}
 .menu-toggle {
  position: absolute;
  top: -1.2em;           
  right: 0.1em;
  border: 0;    
  background-color: transparent;
  font-size: 3em;
  width: 1em;
  height: 1em;
  line-height: 0.4;
  text-indent: 5em;        
  white-space: nowrap;
  overflow: hidden;
 }

 .menu-toggle::after {
  position: absolute;
  top: 0.4em;
  left: 0.2em;
  display: block;
  content: "\2261";  
  text-indent: 0;
 }

 .menu-dropdown {
  display: none;
  position: absolute;
  right: 0;
  left: 0;
  margin: 0;
  z-index: 1;
 }

.menu.is-open .menu-dropdown {
  display: block;         
}

.nav-menu {
  margin: 0;
  padding-left: 0;
  border: 1px solid #ccc;
  list-style: none;
  background-color: #000;
  color: #fff;
 }
 .nav-menu > li + li {  
  border-top: 1px solid #ccc;
 }
.nav-menu > li > a {
  display: block;
  padding: 0.8em 1em;  
  color: #fff;
  font-weight: normal;
 }
  /*---end menu---*/

 main {            
   padding: 1em;
 }

 .main-content {
    position: relative;
    background-color: #E6EAFF;
  }

.bio {
  display: flex;
  flex-flow: column;
  margin: 0.2rem ;
  text-align: center;
  background-size: 100%;
  min-height: 80vh;
}

 .image-container {
    width: 100%;
    overflow: hidden;
    /*margin-left: 0.7rem;*/
  }

.image-container img {
    display: block;
    max-width: 100%;
    height: auto;
  }

.text {
  font-size: 1.5rem;
  padding: 1em 0 1em 0;
  text-align: justify;
  line-height: 1.5em;
}

.data {
  display: none;
  font-size: 1.5rem;
  padding: 0 1em;
  text-align: justify;
  line-height: 1.5em;
}

.tab-contents.active-tab {
  display: none;
}

.data-mobile div ul li {
  font-size: 1.4em;
  padding-bottom: 0.5em;
}
/*-----tabs-------*/
.tab-links{
    margin-right: 0;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: black;
    position: absolute;
    left: 20px;
    bottom: -6px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 70%;
}

.tab-contents ul li{
    list-style: none;
    margin: 0.4em 0;
}

.tab-contents ul li span{
    /*color: #b54769;*/
    font-size: 1em;
}
.tab-contents{
    display: none;
    margin-left: 0;
    text-align: left;
}
.tab-contents.active-tab{
    display: none;
}
/*----end tabs------*/


.desktop {
     display: none;
   }

footer {
  /*position: relative;*/
  /*top: 3rem;*/
  background-color: #9b9b9b;
  padding: 1rem 1.5rem;
}

footer .content {
  color: white;
  display: flex;
  height: 1em;
  align-items: center;
}
  
footer .copyright {
  flex-grow: 1;
}

footer nav ul {
  display: flex; 
}

footer nav li {
    padding-left: 2rem;
  }

footer a {
  color: white;
  line-height: 0.8;
}

@media only screen and (min-width: 35em) {
 .bio {
  flex-flow: row;
  }

  .image-container {
    width: 40%;
    margin-left: 1.1em;
    margin-top: 3em;
  }
   
   .data-container {
    display: flex;
    flex-flow: column;
    width: 55%;
   }

  .text {
     font-size: 1.2rem;
     /*width: 55%;*/
     margin-top: 1.1em;
     margin-left: 0;
     padding: 0.5em 1.5em;
     line-height: 1.2em;
   }

   .data {
    display: flex;
     font-size: 1rem;
     /*width: 55%;*/
     margin-top: 1.5em;
      margin-left: 0;
     padding: 0;
     line-height: 1.3em;
  }

   .data-mobile {
    display: none;
   }
      
  .desktop {
     display: block;
   }

   .menu-toggle {
    display: none;
   }

   .tab-contents.active-tab {
    display: block;
    margin-left: 0;
  }
}

@media only screen and (min-width: 50em) {
   .bio {
  flex-flow: row;
  }

  .image-container {
    width: 37%;
    margin-left: 2.1em;
    margin-top: 2.3em;
  }

   .data-container {
    display: flex;
    flex-flow: column;
   } 
    
   .text {
     font-size: 1.1rem;
     /*width: 55%;*/
     margin-left: 1.8rem;
     margin-top: 1.2em;
     /*padding: 2.3em 2.1em;*/
     padding: 0.5em 1em;
     line-height: 1.2em;
   }
   .data {
     display: flex;
     font-size: 1.1rem;
     /*width: 55%;*/
     margin-top: 1.5em;
     margin-left: 0;
     padding: 0;
     line-height: 1em;
   }
      .data-mobile {
    display: none;

  }
 

  .tab-contents.active-tab{
    display: block;
    margin-left: 0;
}
}

  @media only screen and (min-width: 90em) {
     .bio {
  flex-flow: row;
   }
     body {
        /* font-size: 1.6rem;*/
        margin-left: 3rem;
        margin-right: 3em;
     }

    .data-mobile {
      display: none;
     }

     .tab-contents.active-tab{
    display: block;
    margin-left: 0;
}
}